div.dummy{display:block; width:100%; height:0px; text-indent:-9999px; color:#fff; margin:0; padding:0}
.pageForm {content:" ";}
.logoContainer {background:#f1592a; margin:0px 0px 40px 0px; padding:20px 0px 20px 0px;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);         
}
.logoContainer h1 {border:none; margin:0; padding:0;}
.logoContainer h1#logo {margin:0;}
.logoContainer h1#logo a {display:block; text-indent:-9999px; background: url(/images/vortec-logo.png) no-repeat; width:293px; height:92px; padding:0px; margin:0px auto 0px auto; border:0}
.logoContainer h1#logo a:hover {border:none;}

#main-nav {display:block; width:100%; background:#000; font-family: "GothamBook", Helvetica, Arial, sans-serif; font-weight: normal; text-align:center;}
#main-nav ul {display:block; list-style:none; margin:0; padding:5px 0px 5px 0px; width:100%; text-align:center; }
#main-nav ul li {display:inline; border-right:1px solid #fff; padding-right:10px; margin:0px 10px 0px 0px;}
#main-nav ul li.last {border-right:none; padding-right:0px; margin-right:0px;}
#main-nav ul li a {color:#fff; text-transform:uppercase;}
#main-nav ul li a:hover {border-bottom: 1px dotted #fff;}
#main-nav ul li a span {font-family: "GothamMedium", Helvetica, Arial, sans-serif;}

#sub-nav {background:transparent; margin:5px 0px 40px 0px; padding-bottom:5px; font-family: "GothamBook", Helvetica, Arial, sans-serif; font-weight: normal; font-size:11px; line-height:11px; border-bottom:1px solid #000}
#sub-nav ul {display:block; list-style:none; margin:0px auto 0px auto;}
#sub-nav ul li {display:block; float:left; border-right:1px solid #58595b; padding-right:10px; margin:5px 10px 5px 0px;}
#sub-nav ul li.last {border-right:none;}
#sub-nav ul li a {display:block; color:#58595b; text-transform:uppercase; line-height:11px;}
#sub-nav ul li a.selected {color:#ff6633}
#sub-nav ul li a:hover {border-bottom: 1px dotted #000;}
#sub-nav ul li a.selected:hover {border-bottom: 1px dotted #ff6633;}

figure.header-image {margin-bottom:20px; position:relative;}
figure.header-image .downloadDocument {display:block; padding:5px 5px 0px 5px; height:26px; right:0px; top:0px; position:absolute; background:#000;}
figure.header-image .downloadDocument a {color:#fff; font-family: "GothamBook", Helvetica, Arial, sans-serif; text-align:center; text-transform:uppercase; font-size:12px; line-height:12px;}
figure.header-image .downloadDocument a:hover {border-bottom:1px dotted #fff; color:#fff;}
figure.header-image img {max-width:100%}
figure.header-image.border {padding-bottom:20px; border-bottom:1px solid #000;}

.specPanel p {color:#58595B; font-size:12px; margin-bottom:15px;}
.specPanel p span.modelNo {margin-right:20px;}
.specPanel p span.modelPrice {}
.specPanel ul {color:#58595B; font-size:12px; list-style:disc; padding:0px 0px 0px 15px; }
.specPanel ul li {margin:0px 0px 5px 0px;} 

.container p {font-size:14px;}
.row.home {}
.row {margin:10px 0px 30px 0px;}
.row div {color:#58595B; font-size:14px; font-family: "GothamBook", Helvetica, Arial, sans-serif; line-height:20px;}
.row div img {max-width:100%; display:block; margin:0 auto;}
.row div img.inner {margin-top:20px;}
.row ul {list-style:disc; padding:0px 0px 0px 15px; margin-top:20px; margin-bottom:10px; line-height:22px;}
.row ul li {margin:0px 0px 10px 0px;} 
.row p {margin-bottom:10px;}
.row p strong {color:#000;}

/* Corporate homepage desktop styles */
.row.corporatehome h2 {text-transform:uppercase; font-size:20px; line-height:30px;}
.row.corporatehome img {
    max-height:300px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all 0.3s linear ;
    -moz-transition:  all 0.3s linear ;
	-o-transition:  all 0.3s linear ;
	transition:  all 0.3s linear ;
    border-radius:5px;
}
.row.corporatehome .left, .row.corporatehome .right {text-align:center; cursor:pointer;}
.row.corporatehome .left:hover img, .row.corporatehome .right:hover img {filter: none; -webkit-filter: grayscale(0%);}


.gallery-container {margin-bottom:50px;}
ul#gallery-thumbnails {}
ul#gallery-thumbnails li {width:55px; height:55px; float:left; margin-right:20px;}
ul#gallery-thumbnails li.last {margin-right:0px;}
ul#gallery-thumbnails li.enlarge {width:100%; height:19px; float:none; margin:0px 0px 20px 0px; padding-top:7px; background:#000; color:#fff; font-family: "GothamBook", Helvetica, Arial, sans-serif; text-align:center; text-transform:uppercase; font-size:12px; line-height:12px;}
ul#gallery-thumbnails li div {}
ul#gallery-thumbnails li div img {width:55px; height:55px;}

.pika-stage {position: relative; width:640px; height:440px; overflow:hidden;}
.pika-stage .pika-aniwrap, .pika-stage .main-image {position:absolute; top:0; left:0;}
.pika-stage .pika-aniwrap{width:100%;}
.pika-stage .pika-ani {position:relative;display: none;z-index:2;margin:0 auto;}
.pika-stage img {border:0; max-width:100%; width:100%;}

div.caption.toUse {color:#58595B; font-size:12px;}
.pika-stage .caption {position: absolute; font-size: 11px; color:#58595B; padding: 10px; text-align: right; bottom: 20px; right: 10px;}
.pika-stage .caption p {padding: 0; margin: 0; line-height: 14px;}
.pika-textnav, .pika-imgnav {display:none;}
.pika-counter{position: absolute;bottom: -20px;left:15px;font-size:11px;}

#pikame{display:none;}

    span.required {color:#F63;}
    div#contour {margin-bottom:50px;}
    div#contour h4.contourPageName {margin-bottom:20px; text-transform:uppercase;}
    div#contour div.contourField {position:relative;}
    div#contour div.contourField label {display:block; width:30%; padding-right:5%; float:left; margin-bottom:10px; font-weight:normal;}
    div#contour div.contourField div {display:block; width:60%; float:left; margin-bottom:10px;}
    div#contour div.contourField div input[type="text"] {display:block; margin-left:5%; width:70%;}
    div#contour div.contourField div input[type="checkbox"] {display:block; margin-left:5%;}
    div#contour div.contourField div textarea {display:block; margin-left:5%; width:70%;}
    div#contour div.contourField div select {display:block; margin-left:5%; width:70%;}
    div#contour div.contourField span.contourError {color:#F63; display:block; position:absolute; bottom:5px; right:19%;}
    div#contour div.contourNavigation input[type="submit"]{
     	border:0;
     	width:auto;
     	border-bottom: 1px dotted #FFF; 
     	padding:2px 0 0 0px;
     	margin-right:19%;
		background:transparent;
		font: 100% 'GothamMedium';
		text-transform:uppercase;
		color:#F63;
		-webkit-transition: all 0.3s linear;
	    -moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
		float:right;
		}
	
	div#contour div.contourNavigation input[type="submit"]:hover{
	    color: #000; 
		border-bottom: 1px dotted #384247;
	}

footer {margin-bottom:0px;}
footer .footer {background-color:#000; padding-top:10px; padding-bottom:20px; height:170px;
    -webkit-box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.1);         
    }
footer .footer a.footerLogo {display:block; width:126px; height:40px; margin:20px auto 20px auto; border-bottom:none;}
footer .footer a.footerLogo:hover {border-bottom:none;}
footer .footer .footerText {display:block; width:100%; margin:0px auto 0px auto; text-align:center;  font-family: "GothamBook", Helvetica, Arial, sans-serif; font-weight: normal; color:#fff;}
footer .footer .footerText a {color:#fff;}
footer .footer .footerText a:hover {color:#fff; border-bottom-color:#fff;}
footer .footer .footerText span {margin-right:10px;}

/* sticky footer solution by Steve Hatcher*/
html,body{height:100%}
#container{min-height:100%}
form.pageForm{overflow:auto;padding-bottom:200px}
/* must be same height as the footer */
footer{position:relative;margin-top:-200px;
/* negative value of footer height */
height:200px;clear:both}
/*Opera Fix*/
body:before{
/* thanks to Maleika (Kohoutec)*/
content:"";height:100%;float:left;width:0;margin-top:-32767px;
/* thank you Erik J - negate effect of float*/
}

/*MEDIA QUERIES */

@media only screen and (min-width: 768px) and (max-width: 959px) /*Tablet Portrait*/
{
    ul#gallery-thumbnails li {margin-right:9px; margin-left:9px}
    ul#gallery-thumbnails li.last {margin-right:9px; margin-left:9px}
    .pika-stage {width:508px; height:349px;}
}

@media only screen and (max-width: 767px) /*Mobile Portrait*/
{
    #main-nav ul li {display:block; margin:10px 0px 10px 0px; width:100%; border:0;}
    
    #sub-nav ul li {float:none; border-right:none;}
    #sub-nav ul li a {display:inline; width:auto;}
    
    figure.header-image .downloadDocument {display:block; padding:0px 0px 0px 0px; height:15px; right:0px; top:-15px; position:absolute; background:transparent;}
    figure.header-image .downloadDocument a {color:#58595B; text-align:right; font-size:12px; line-height:12px;}
    figure.header-image .downloadDocument a:hover {border-bottom:1px dotted #F63; color:#F63;}
    
    .row div {margin-top:10px;}
    
    .pika-stage {width:508px; height:349px;}
    
    ul#gallery-thumbnails li {margin-right:7px; margin-left:7px;}
    ul#gallery-thumbnails li.last {margin-right:7px; margin-left:7px;}
    ul#gallery-thumbnails li.enlarge {margin:30px 0px 20px 0px;}
    
    div#contour div.contourField label {width:30%; padding-right:10%;}
    div#contour div.contourField div {width:60%;}
    div#contour div.contourField div input[type="text"] {margin-left:10%; width:86%;}
    div#contour div.contourField div input[type="checkbox"] {margin-left:10%;}
    div#contour div.contourField div textarea {margin-left:10%; width:86%;}
    div#contour div.contourField div select {margin-left:10%; width:86%;}
    div#contour div.contourField span.contourError {right:0px;}
    div#contour div.contourNavigation input[type="submit"]{margin-right:0px;}

    form.pageForm{padding-bottom:290px}
    footer {margin-top:-290px; height:290px;}
    footer .footer {height:260px;}
    footer .footer .footerText span {display:block; margin-right:0px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) /*Mobile Landscape*/
{
    .pika-stage {width:420px; height:288px;}
}

@media only screen and (max-width: 480px) /*small mobile*/
{
    .pika-stage {width:300px; height:206px;}
    ul#gallery-thumbnails li {margin-right:10px; margin-left:10px;}
    ul#gallery-thumbnails li.last {margin-right:10px; margin-left:10px;}
    div#contour div.contourField div input[type="text"] {width:84%;}
    div#contour div.contourField div textarea {width:84%;}
    div#contour div.contourField div select {width:84%;}
}






/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@font-face {
    font-family: 'GothamBook';
    src: url('/css/fonts/gotham-book-webfont.eot');
    src: url('/css/fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/gotham-book-webfont.woff') format('woff'),
         url('/css/fonts/gotham-book-webfont.ttf') format('truetype'),
         url('/css/fonts/gotham-book-webfont.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamMedium';
    src: url('/css/fonts/gotham-medium-webfont.eot');
    src: url('/css/fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/gotham-medium-webfont.woff') format('woff'),
         url('/css/fonts/gotham-medium-webfont.ttf') format('truetype'),
         url('/css/fonts/gotham-medium-webfont.svg#GothamMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamBlack';
    src: url('/css/fonts/gotham-black-webfont.eot');
    src: url('/css/fonts/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/gotham-black-webfont.woff') format('woff'),
         url('/css/fonts/gotham-black-webfont.ttf') format('truetype'),
         url('/css/fonts/gotham-black-webfont.svg#GothamBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}